
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url Shorter</title>
</head>
<body>
<h1>Welcome to our url shorter</h1>
<!--action="{% url 'index' %}"-->
<form method="POST" >
    {% csrf_token %}
<!--    <label>Name:<input type="text" name="user_name" placeholder="Enter your name here" required></label><br>-->
    <label>Url:<input type="text" name="link" placeholder="Enter your link" required></label><br>
    <button type="submit">Submit</button>

</form>
{% for i in link_list%}
<div>{{i}}</div>
{% endfor %}
</body>
</html>